.nav-ul {
    display: none;
}


/* User Form  */
form {
    border: 2px solid #AA182C;
    border-radius: 0.8rem;
    /* width: 65.5%; */
    max-width: 565px;
    color: #AA182C;
    margin-left: 7.2rem;
}

.form {
    box-sizing: border-box;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 27rem;
    gap: 1.5rem;
    padding-top: 50px;
}

.form>div {
    text-align: end;
    width: 61%;
}

form label {
    font-size: 2.2rem;
    font-weight: bold;
    margin-right: 1.2rem;
    font-size: 30px;
    font-family: Open Sans, Bold;
}

form input {
    padding: 0.4rem 0.9rem;
    border: 1px solid #AA182C;
}

.btn {
    /* width: 80%; */
    text-align: right;
}

.btn p {
    font-size: 16px;
    font-family: Open Sans, Regular;
}


.btn button {
    background: #AA182C;
    color: white;
    font-weight: bold;
    padding: 0.5rem 2.2rem;
    border: none;
    margin-bottom: 1rem;
}


.footer-ul {
    color: white;
}



/* body{
    position: relative;
    min-height: 632px;
}

footer {
    background-color: white;
    position: absolute;
    width: 100%;
    bottom: 0px;
    z-index: 2;
    bottom: -30px;
} */

footer {
    background-color: white;
    position: fixed;
    width: 100%;
    bottom: 0px;
    z-index: 2;
}


/* Media Queries  */

@media screen and (max-width: 900px) {

    form {
        margin: auto;
    }
}

@media screen and (max-width: 600px) {
    @media screen and (max-width: 840px) {
        main {
            padding: 0 1.5rem;
        }
    }

    .form {
        padding-top: 16px;
    }

    .form>div {
        text-align: end;
        width: 85%;
    }

    .form>div {
        text-align: start;
    }

    .form input {
        width: 90%;
        padding: 1rem 1.5rem;
    }

    .form button {
        padding: 1.3rem;
        width: 97%;

    }

    .btn p {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .footer-ul {
        /* color: white;     */
        /* visibility: hidden; */
        height: 0;
    }

    .footer_child {
        height: 80px;
    }

}