* {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 62.8%;
}

body {
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Header  */

.header-banner {
    position: relative;
}
.header-banner img{
    width: 100%;
}

.header-banner::after {
    font-size: 3.5rem;
    color: white;
    position: absolute;
    font-family: system-ui;
    top: 24px;
    left: 210px;
}

header {
    overflow: hidden;
}

/*  */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    max-width: 89rem;
    margin: 0 auto;
}
.navbar > button{
    background-color: white;
    width: 40px;
    height: 40px;
    display: none;
}
.navbar button img{
    width: 100%;
}
.nav-ul {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: #AA182C;
    /* width: 55%; */
    width: 50rem    ;

}



/* LOGO  */
.logo {
    width: 141px;
}

.logo img {
    width: 100%;
}

#user {
    font-size: 2.8rem;
}


/* Main  */
main {
    margin: 3rem auto;
    /* height: 44rem; */
    height: 33rem;
    max-width: 86rem;
}

/* ------------ */
a:link {

    text-decoration: none !important;
}

a:visited {
    color: white;
}

/* Footer  */
footer {
    border-top: 1px solid #AA182C;
 
}
.footer_child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    max-width: 89rem;
    margin: 0 auto;
    height: 6.5rem;

}

.logo2 {
    width: 37px;
    transform: rotate(27deg);
}

.logo2 img {
    width: 100%;
}

.footer-ul {
    font-size: 1.5rem;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
    color: #AA182C;
    /* display: none; */
    /* color: white; */
}

.footer-description {
    display: flex;
    justify-content: space-between;
    margin-top: 0.4rem;
    width: 100%;
    font-size: 0.8rem;
    color: #000000b3;
}

.about-footer {
    margin-left: 50px;
    width: 45rem;
}

#dis1 {
    margin-left: 14.8rem;
}

#user2 {
    font-size: 2rem;
}


/* For Grid   */

.welcome-container {
    display: grid;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}


.welcome-container .box {
    background: transparent linear-gradient(180deg, #AA182C 0%, #640A16 100%) 0% 0% no-repeat padding-box;
    border-radius: 0.7rem;
    position: relative;
}

/* Media Queris  */
@media screen and (max-width: 900px) {
    .navbar {
        margin-left: 3rem;
    }
    .footer_child {
        margin: 0 3rem;
    }
    .header-banner::after {
        top: 10px;
        left: 150px;
    }
}
@media screen and (max-width: 600px) {

    .navbar {
        margin-left: 1rem;
        margin-right: 2rem;
    }
    .nav-ul{
        display: none;
    }
    .navbar > button{
        display: block;
        border: none;
    }

    .header-banner::after {
        font-size: 2rem;
    }

    .header-banner::after {
        top: 5px;
        left: 150px;
    }
    .footer_child {
        flex-direction: column;
    }
    .footer-ul{
        width: 90%;
    }
    .about-footer {
        margin-left: 0px;
        /* width: 47rem; */
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    body{
        /* background-color: #640A16; */
    }
    #dis1 {
        /* margin-left: 2.8rem; */
    }
}